name: flutter_iot_second_app
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ">=3.2.0 <4.0.0" #ตรงนี้แก้ใหม่

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  #ตั้งค่า packages ที่น่าจะต้องใช้ประจำในทุกโปรเจค
  google_fonts: ^7.0.2
  font_awesome_flutter: ^10.12.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
